<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
  <title>疯狂的石头</title>
  <script src="../../static/js/setSize.js"></script>
  <script src="../../static/js/vue.min.js"></script>
  <script src="common/menu.js"></script>
</head>
<style scoped>
  .page_head {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    line-height: 2.4rem;
    border-bottom: 1px solid #f2f2f2;
    background: #62adfb;
    letter-spacing: 4px;
  }

  .page_body {
    padding: 0.5rem 0;
  }
</style>
<body>
  <div>
    <div class="index">
      <div class="page_head">记录</div>
      <bottom-menu :menuIndex="2"></bottom-menu>
    </div>


  </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {

        }
    })
</script>
</html>